@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    max-width: 350px;
    margin: 0 auto;
    
}
.wrapper{
    margin: 2 rem 1 rem;
    padding: 25px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.75)
}
.img-equilibrium{
    border-radius: 15px;
    overflow:hidden;
    position:relative;

}
.img-equilibrium img{
    width: 100%;
    display:block;


}
.img-eye{
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:hsla(178, 100%, 50%, 0.3);
    display:none;
}
.img-eye img{
    position:absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.img-equilibrium:hover .img-eye{
    display:block;
 
}
.box-description a{
    color:rgb(255, 255, 255);
    font-size:14px;
    font-weight:600;
    display: inline-block;
    padding: 20px 0;
}
.box-description a:hover{
color:hsl(178, 100%, 50%);
}
.box-description p{
    color:hsl(215, 51%, 70%);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.eth, .days-left{
    display:flex;
    align-items: center;
}
.eth p{
    color:hsl(178, 100%, 50%);
    font-weight: 600;
    padding-left: 5px;
}
.days-left p{
font-weight: 600;
padding-left: 5px;
}
.hr{
    border-color: hsl(215, 32%, 27%);
}
.web-author{
    display:flex;
    align-items: center;
    padding-right: 5px;

}
.web-author img{
    height: 40px;
    width: 40px;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin-right: 20px;;
}
.web-author p a.name{
    color:#FFF;
    text-decoration:none;
    font-weight:600;

}
.web-author p a.name:hover{
    color:hsl(178, 100%, 50%)
}
